mkdocs
mkdocs-include-markdown-plugin
mkdocstrings[python]
mkdocs-literate-nav 
mkdocs-gen-files
mkdocs-section-index
mkdocs-material
mkdocs-material-extensions
black
numpy
matplotlib
griffe==0.41.1 
